@import "tailwindcss";

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

@theme {
  --color-goldenrod: #B08330;
  --color-golden-brown: #9E743C;
  --color-umber: #8C6447;
  --color-coffee: #805A4C;
  --color-rose-ebony: #734F50;
  --color-eggplant: #664455;
  --color-violet: #593959;
  --font-sans: Inter, system-ui, sans-serif;
  --font-display: Poppins, system-ui, sans-serif;
}

nav.pagy.series-nav a {
  padding: 10px;
  border-radius: 10px;
  background-color: #f3f4f6;
  color: #374151;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s;
  text-align: center;
  margin-right: 5px;
}

nav.pagy.series-nav a:hover:not([aria-current="page"]) {
  background-color: #635547;
  color: white;
  border-color: #635547;
}

nav.pagy.series-nav a[aria-current="page"] {
  background-color: #635547;
  color: white;
  border-color: #635547;
  cursor: default;
}

