.card-show-container {
  padding-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;

  img {
    width: 329.4px;
    height: 459px;
    border-radius: 15px;
    margin-left: auto;
  }
  img:hover {
    opacity: 0.7;
    transition: opacity 0.1s ease;
  }

  @media (max-width: 768px) {
    justify-content: center; /* Center items horizontally */
    margin-left: 10px;
    margin-right: 10px;
  }
}

.card {
  color: rgb(85, 89, 92);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 220px;
  border-radius: 10px;
  text-align: center;
}

.card-info {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin-left: 200px;
}

.card-info-label {
  background-color: rgb(103, 91, 128);
  padding: 10px;
  color: rgb(236, 240, 249);
  border-radius: 10px;
  font-weight: bold;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
    text-decoration: none;
  font-size: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

.card-info-detail {
  // background-color: rgb(237, 238, 243);
  color: rgb(225, 220, 239);
  border-radius: 5px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  // box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.card-image-wrapper {
  position: relative;
  display: inline-block;
}

.quantity-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 15px 15px 0 0;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.card-image-wrapper:hover .quantity-banner {
  opacity: 1;
  transform: translateY(0);
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  z-index: -1; /* Ensure the background image is behind the content */
}
