.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  img {
    width: 244px;
    height: 340px;
    border-radius: 15px;
  }

  /* Center images in mobile view */
  @media (max-width: 768px) {
    justify-content: center; /* Center items horizontally */
    margin-left: 10px;
    margin-right: 10px;
  }
}

img:hover {
  opacity: 0.7;
  transition: opacity 0.1s ease;
}
