.card-search-container {
  position: relative;
  max-width: 400px;
  margin: 2rem auto;
  text-align: center;
  padding-top: 50px;
}

.card-search-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  color: #333333;
}

.card-search-input {
  width: 90%;
  padding: 20px 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.1s ease;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #504e52;
}

.card-search-input::placeholder {
  color: #999;
  font-style: italic;
}

.card-search-input:focus {
  border-color: #007bff;
}

.search-results-grid {
  position: relative;
  z-index: 10;
  border-radius: 6px;
  padding: 15px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.card-tile {
  cursor: pointer;
  transition: transform 0.2s ease;
  position: relative;
}

.card-tile:hover {
  transform: translateY(-5px);
}

.card-selected {
  border: 3px solid #007bff;
  border-radius: 13px;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none !important;
}

/* Style for the submit button when it's visible */
.btn-update {
  display: block;
  background-color: #6d439b;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 20px auto 0;
  text-align: center;
  max-width: 200px;
  font-weight: bold;
}

.btn-update:hover {
  background-color: #7e6a96;
  transform: none;
}

#import-form {
  margin-top: 30px;
  margin-bottom: 30px;
}
