.cards-container {
  margin-top: 50px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap; /* To allow wrapping if cards exceed the container width */
  gap: 30px; /* Space between each card */
}
