.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 200px;

  img {
    width: 75%;
    height: 75%;
  }
  img:hover {
    transform: scale(1.1);
    transition: transform 1s ease;
  }
}
