.cards-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.input {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 400px;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border-color: blueviolet;
  text-align: center;
  color: rgb(126, 114, 201);
  font-size: 20px;
}

.form-select {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 425px;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border-color: blueviolet;
  text-align: center;
  color: rgb(126, 114, 201);
  font-size: 20px;
}

.card-label {
  margin-bottom: 8px;
  display: block;
  font-style: bold;
}

.error_notification {
  // @extend .alert !optional;
  // @extend .alert-danger !optional;
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.invalid-feedback {
  display: block;
  font-size: 0.875rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #de5ca1;
  font-style: italic;
}
