.cards-header {
  width: 500px;
  height: 20px;
  display: flex;
  justify-content: center;
  color: purple;
  flex-direction: row;
}

.cards-card {
  display: flex;
  flex-direction: column;
}

.card-info {

}
