<div class="navbar">
  <div class="logo">
    <%= link_to cards_path do %>
      <%= image_tag "logo.png" %>
    <% end %>
  </div>
  <div class="navbar-right">
    <button class="add-card-btn"> <%= link_to "New card", new_card_path %></button>
  </div>
</div>
