<div class="navbar">
  <h1>MyCards</h1>
  <div class="navbar-right">
    <button class="add-card-btn">Add New Card</button>
    <!-- Example Dropdown -->
    <div class="dropdown">
      <button class="dropdown-btn">Menu</button>
      <div class="dropdown-content">
        <a href="#">MyCards</a>
        <a href="#">My Decks</a>
        <a href="#">Settings</a>
      </div>
    </div>
  </div>
</div>
