<div class="cards-form">
  <%= simple_form_for :scryfall_search, url: import_card_cards_path, method: :post do |f| %>
    <div class="input">
      <%= f.input :name, label: "Card Name", input_html: { class: 'input' } %>
    </div>
    <%= f.button :submit, "Search and Save Card", class: 'custom-button' %>
  <% end %>
</div>
