<div class="container-header">
  <p><%= pluralize(@cards.count, "card") %> in my collection</p>
</div>
<div class="cards-container">
  <% @cards.each do |card| %>
    <% if card.photo_url.present? %>
      <%= link_to image_tag(card.photo_url), card_path(card.id) %>
    <% else %>
      <%= link_to "View #{card.name}", card_path(card.id) %>
    <% end %>
  <% end %>
</div>
