<div class="card-show">
  <%= render "cards_card", card: @card %>
  <button> <%= link_to "Back to MyCards", cards_path %> </button>
  <br>
  <button> <%= link_to "Delete Card", card_path(@card), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> </button>
</div>
