/*
* This is a manifest file that'll be compiled into application.css.
*
* With Propshaft, assets are served efficiently without preprocessing steps. You can still include
* application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
* cascading order, meaning styles declared later in the document or manifest will override earlier ones,
* depending on specificity.
*
* Consider organizing styles into separate files for maintainability.
*/

@import "navbar";
@import "card-show-container";
@import "newcard_form";
@import "button";
@import "container-header";
@import "cards-container";
@import 'home-container';
@import "card-search";
@import "card-modal";
@import "card-edit";
@import "dashboard";

// Main application styles

a {
  text-decoration: none;
  color: rgb(250, 250, 250);
}
a:hover {
  text-decoration: none;
  color: rgb(240, 235, 235);
}

// img {
//   width: 244px;
//   height: 340px;
//   border-radius: 15px;
// }

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(214, 231, 244);
  margin: 0;
  padding: 0;
}

.logo {
  margin-left: 0;
  margin-top: 0;
}

/* Utility classes */
.hidden {
  display: none;
}
